<h2>Make a bet for this round.</h2>

<p><%= session[:player_name] %> has $<%= session[:total_money] %>.</p>

<% if session[:total_money] <= 0 %>

<p>you have no money, <a href="/new_game" class='btn'>Start Over</a></p>

<% else %>

<form method='post' action='/bet'>
<input type='text' name='bet_amount'>
<br>
<input type='submit' class='btn' value='Make Bet'>
</form>

<% end %>